        @import url("https://rsms.me/inter/inter.css");

:root {
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

@supports (font-variation-settings: normal) {
  html {
    /* font-family: "Inter var", sans-serif; */
  }
}

body {
  margin: 0;
}

h1 {
  margin-bottom: 0.5rem;
}

p {
  color: var(--color-gray);
  font-size: 20px;
}

hr {
  height: 1px;
  width: 100%;
  background-color: var(--color-light-gray);
  border: 0;
  /* margin: 1rem 0; */
}

.container {
  max-width: 40rem;
  /* padding: 1vw 0rem 0; */
  margin: 0 auto;
  height: 100vh;
}
.container h1,p{
    text-align: center;
}
.form {
  display: grid;
  grid-gap: 1rem;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-lighter-gray);
  padding: .5rem;
  border-radius: .25rem;
}

.field__label {
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  text-align: left;
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.field:focus-within {
  border-color: #000;
}

.fields {
  display: grid;
  grid-gap: 1rem;
}
.fields--2 {
  grid-template-columns: 1fr 1fr;
}
.fields--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.button:focus-visible {
  background-color: #333;
}